In [1]:
#method vs functions

In [2]:
my_name = "alperen"

In [3]:
my_name

'alperen'

In [4]:
my_name.upper()

'ALPEREN'

In [5]:
my_name.islower()

True

In [6]:
#functions

In [7]:
def hello_python():
    print("Hello")
    print("Turkiye")

In [8]:
hello_python()

Hello
Turkiye

In [9]:
def printYourname(name):
    print(name)
    type(name)

In [10]:
printYourname(39)

39

In [11]:
def sum_numbers(num1, num2):
    print(num1 + num2)

In [12]:
sum_numbers(5, 10)

15

In [13]:
sum_numbers(78, 6)

84

In [14]:
def helloSurname(soyad = "Arda"):
    print(f"Hello {soyad}")

In [15]:
helloSurname("Cafer")

Hello Cafer

In [16]:
helloSurname()

Hello Arda

In [17]:
alperensList = [10,20,30,40,50,60,70]

In [18]:
for (ix,iy) in enumerate(alperensList):
    print(ix)

0
1
2
3
4
5
6

In [19]:
#return ^v^

In [20]:
def summation(num1, num2, num3):
    z = num1 * num2 / num3
    return z

In [21]:
x = summation(1,4,23)

In [22]:
x

0.17391304347826086

In [23]:
type(x)

float

In [24]:
def control_string(s):
    if s[0] == "a":
        print(s[0])

In [25]:
control_string("alperen")

a

In [26]:
control_string("balberen")

In [27]:
control_string("arda")

a

In [28]:
def summation(*args):
    return sum(args)

In [29]:
summation(4,7,2,5,1,8,34,234,234,42,434,24,2323,423,4234,3423,4,23,423,4,234,23,47)

12190

In [30]:
def args_example(*args):
    print(args)

In [31]:
type(args_example(2,34,342,342,42))

(2, 34, 342, 342, 42)

NoneType

In [32]:
def kwargs_example(**kwargs):
    print(kwargs)

In [33]:
kwargs_example(apple = 100, banana = 150, melon = 233)

{'apple': 100, 'banana': 150, 'melon': 233}

In [34]:
#yukaridaki args ya da kwargs cikti olarak tuple ve dictionary gosterse bile fonksiyonun tipi function'dur.

In [35]:
def kwargs_example(**kwargs):
    if "apple" in kwargs:
        print("appleeee")
    else:
        print(":(")

In [36]:
kwargs_example(banana = 150, melon = 233)

:(

In [72]:
type(helloSurname)

function

### PRACTICAL FUNCTIONS

In [38]:
def divideTwo(x):
    return x/2

In [39]:
divideTwo(34)

17.0

In [40]:
myList = [3,5,7,10,20,30]
emptyList = []

In [41]:
emptyList.clear()
for numb in myList:
    emptyList.append(divideTwo(numb))

In [42]:
emptyList

[1.5, 2.5, 3.5, 5.0, 10.0, 15.0]

# using map --> map bir siniftir.

In [43]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [44]:
map(divideTwo, myList)

In [45]:
list(map(divideTwo, myList))

[1.5, 2.5, 3.5, 5.0, 10.0, 15.0]

In [46]:
def controlString(alponzo):
    return "alperen" in alponzo

In [47]:
controlString("alperen arda nbr")

True

In [48]:
#1)map'ler bir listenin vs. tek tek elemanlarini fonksiyona gonderir.

In [49]:
string_list = ["alperen","arda","adem alperen","dfaffs"]

In [50]:
list(map(controlString, string_list))

[True, False, True, False]

# filter = map in yaptigi gibi elemanlari fonksiyona gonderir ayrica True olanlar ile yeni bir liste olusturur

In [51]:
list(filter(controlString,string_list))

['alperen', 'adem alperen']

# lambda = tek satirda geri donduren fonksiyon yazmayi saglar.

In [52]:
multiplyLambda = lambda num:num*2

In [53]:
multiplyLambda(10)

20

In [54]:
type(multiplyLambda)

function

In [55]:
def multiplyLamda2(num):
    return num*2

In [56]:
multiplyLamda2(10)

20

In [57]:
list(map(lambda x:x/4, myList))#Bi kerelik kullanilan fonksiyonlari yazmada kullanilir

[0.75, 1.25, 1.75, 2.5, 5.0, 7.5]

# scope(kapsam)

In [58]:
x = 20 #burdaki x fonksiyon disinda degerlendiriliyor

def multiply(num):
    x = 5 #burdaki x fonksiyon kapsaminda degerlendiriliyor.
    return num * x

In [59]:
multiply(20)

100

In [60]:
x

20

# LEGB Local, Enclosing = Çevreleyen, Global, Built-In = içinde var olan, yerleşik

In [61]:
#Global
myString = "Alperen"

def myFunction():
    #Enclosing
    myString = "Alperen2"
    print(myString) 
    def myFunction2():
        #Local
        myString = "Alperen3"
        print(myString)
    myFunction2()

In [62]:
myString

'Alperen'

In [63]:
myFunction()

Alperen2
Alperen3

In [64]:
#myFunction2() yaparsak hata verir cunku Global kapsamda 'myFunction2' is not defined

In [65]:
myString

'Alperen'

In [66]:
def test1():
    myVariable = 10
    print(myVariable * 10)
def test2():
    print(myVariable * 10)
#myVariable sadece test1 fonsksiyonunun kapsaminda oldugu icin test2 fonksiyonu bu kodda hata verir.

In [67]:
test1()

100

In [68]:
myVariable = 10
def test1():
    print(myVariable * 10)
def test2():
    print(myVariable * 150)
#myVariable degiskeni globalde tanımlı oldugu icin her iki fonksiyonda calisir.

In [69]:
test1()

100

In [70]:
test2()

1500

In [83]:
y = 10
def newFunction(y):
    print(y)
    y = 5
    print(y)
    return y

In [86]:
newFunction(y)

10
5

5

In [87]:
y

10

In [101]:
y = 10
def changeY():
    global y
    y = 5
    print(y)
    return y

In [104]:
changeY()

5

5

In [105]:
y

5