In [1]:
#PANDAS DIREKT VERI ANALIZI VE VERI MANIPULASYONU KUTUPHANESI

In [2]:
#Ham bir veriyi alıp analiz edilecek hale getirir

In [25]:
import pandas as pd
import numpy as np

Series

In [5]:
my_dict = {"James": 50, "Lars": 60, "Kirk": 55, "Rob": 65}

In [6]:
pd.Series(my_dict)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [8]:
nameList = ["James", "Lars", "Kirk", "Rob"]
ageList = [50, 60, 55, 65]

In [11]:
pd.Series(nameList, ageList)

50    James
60     Lars
55     Kirk
65      Rob
dtype: object

In [8]:
pd.Series(data=age_list, index=name_list)
#aynı şey ama hangileri veri hangileri indeks olduğunu görebiliyoruz

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [12]:
numpy_array = np.arange(0, 8)

In [13]:
numpy_array

array([0, 1, 2, 3, 4, 5, 6, 7])

In [18]:
pd.Series(data=numpy_array)
#indexleri kendisi atıyor

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [21]:
new_numpy_array = np.array([10, 20, 30, 50])

In [22]:
pd.Series(new_numpy_array)

0    10
1    20
2    30
3    50
dtype: int32

In [24]:
pd.Series(index=nameList, data=new_numpy_array)
#alakasız listeler olsa bile seriyi oluşturuyor.

James    10
Lars     20
Kirk     30
Rob      50
dtype: int32

In [26]:
mySeries = pd.Series(index=nameList, data=new_numpy_array)

In [27]:
mySeries

James    10
Lars     20
Kirk     30
Rob      50
dtype: int32

In [28]:
type(mySeries)

pandas.core.series.Series

In [31]:
mySeries["Lars"]

20

In [32]:
mySeries["Lars"] = 100

In [33]:
mySeries

James     10
Lars     100
Kirk      30
Rob       50
dtype: int32

In [21]:
#kısacası verileri birleştirip manipüle edebiliyoruz.

In [39]:
quizResults1 = pd.Series(data=[70, 60, 90], index=["Mehmet", "Ali", "Şevket"])

In [40]:
quizResults2 = pd.Series(data=[70, 90, 75], index=["Mehmet", "Ali", "Şevket"])

In [41]:
quizResults1

Mehmet    70
Ali       60
Şevket    90
dtype: int64

In [42]:
quizResults2

Mehmet    70
Ali       90
Şevket    75
dtype: int64

In [43]:
quizResults1 + quizResults2

Mehmet    140
Ali       150
Şevket    165
dtype: int64

In [27]:
exam_results1 = pd.Series([70,60,100], ["Ali", "Osman", "Şevket"])
exam_results2 = pd.Series([30,60,40], ["Alperen", "Arda", "Şevket"])

In [28]:
exam_results1 + exam_results2

Ali          NaN
Alperen      NaN
Arda         NaN
Osman        NaN
Şevket     140.0
dtype: float64