In [1]:
listShow = [1,7,5,9,45,20,7,12,7,9,6,4]

In [2]:
for num in listShow:
    if num % 5 == 0:
        new_number = num
        print(num)

5
45
20

In [3]:
for sec in listShow:
    print(sec)

1
7
5
9
45
20
7
12
7
9
6
4

In [4]:
for c in "adem alperen arda":
    print(c)

a
d
e
m

a
l
p
e
r
e
n

a
r
d
a

In [49]:
my_tuple = ((1,34),(3,4),(4,5),(6,7))

In [50]:
for (a,b) in my_tuple:
    print("yardim help")

yardim seni
yardim seni
yardim seni
yardim seni

In [7]:
my_dict = {"k1":1, "k2":2, "k3":3}

In [8]:
for (key, value) in my_dict.items():
    print(value)

1
2
3

In [9]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [10]:
my_list = [1,2,3]

In [11]:
for x in my_list:
    print(x)

1
2
3

In [12]:
name = input("Enter the name: ")

Enter the name: alponzo

In [13]:
print(f"Welcome {name}")

Welcome alponzo

In [14]:
print("Welcome", name)

Welcome alponzo

In [15]:
t = 1
while t <= 20:
    print(f"Value of t: {t}")
    t = t + 1

Value of t: 1
Value of t: 2
Value of t: 3
Value of t: 4
Value of t: 5
Value of t: 6
Value of t: 7
Value of t: 8
Value of t: 9
Value of t: 10
Value of t: 11
Value of t: 12
Value of t: 13
Value of t: 14
Value of t: 15
Value of t: 16
Value of t: 17
Value of t: 18
Value of t: 19
Value of t: 20

In [61]:
list_2 = [2,4,3,57,2,9,4,32,5,64,5]
list_3 = []
list_4 = []

In [66]:
list_3.clear()
list_4.clear()
for z in list_2:
    if z % 2 == 0:
        list_3.append(z)
    else:
        list_4.append(z)
print('Even Numbers:', list_3, "\nOdd Numbers:", list_4)

Even Numbers: [2, 4, 2, 4, 32, 64]
Odd Numbers: [3, 57, 9, 5, 5]